*{
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}
.todo-image{
  width: 240px;
  height: 240px;
}
.title{
  display: hidden;
  font-weight: bold;
}
.parent{
  background: #FFACAC;
  display: grid;
  place-items: center;
  height: 100%;
  padding: 10px 0px 50px 0px;
}

.app{
  background: #FFEBB4;
  overflow: scroll;
  position: relative;
  display: grid;
  align-content: start;
  justify-content: space-evenly;  
  width: 80vw;
  height: 80vh;
  padding: 10px 10px;
}
.fields{
  display: flex;
  align-items: center;
  height: 100px;
  width: 70vw;
}
.fields input{
  font-size: 1rem;
  color: #c1b187;
}
.field-desc{
  width: 100%;
  height: 3.1rem;
  border: none;
  padding: 5px 5px;
  margin-right: 5px;
}
.app button{
  border: none;
  color: white;
  background: #FFBFA9;
  font-size: 1.2rem;
  height: 60px;
  width: 80px;
  cursor: pointer;
}
.display-todo{
  display: block;
}
.todo-desc{
  background-color: white;
  color: #c1b187;
  font-size: 1.2rem;
  width: 92%;
  height: 3.1rem;
  border: none;
  align-items: center;
  padding: 5px 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
}
.todo-icons{
  cursor: pointer;
  font-size: 2.5rem;
  color: #c1b187;
}
.editIcon, .deleteIcon{
  padding: 0px 5px;
}
.editIcon:hover, .deleteIcon:hover{
  transition: .1s ease-out;
  color: #FFEBB4;
}
.clear{
  cursor: pointer;
}

@media(max-width:648px){
  .todo-image{
    width: 120px;
    height: 120px;
  }
  .title{
    padding: 5px 0;
    display: hidden;
  }
  .app button{
    font-size: 15px;
  }
  .fields{
    min-width: 80vw;
  }
  .todo-desc{
    font-size: 12px;
  }
  .todo-icons{
    font-size: 1.5rem;
  }
}